<!DOCTYPE html>
<html>
    
<head>
    <script>
        window.$ = window.jQuery = require('../js/jquery.js');
    </script>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/normalize.min.css" />
    <title>beam.io</title>
</head>
    
<body>
    
<!-- Contains all elements and fits to window vertically. -->
<div id="wrapper">
    
    <!-- For storing channel-related information and functionality. -->
    <div id="toolbar">

        <div id="channel-name" class="tool-item noselect">&#35;int0x10</div>
        
        <div id="channel-topic" class="tool-item">Feminists are to straight men what evangelical christians are to gay men&#46; Deal with it&#33;</div>
        
        <div class="clear"></div>

    </div>
    
    <!-- Server and channel-related functionality. -->
    <div class="sidebar left">
        
        <!-- Channel list. -->
        <div id="channels" class="side-panel">
        
            <span class="panel-header">
                
                <i class="material-icons md-24">chat</i>
                Channels
                
                <a href="" class="button" title="Join Channel">
                    <i class="material-icons md-24">add</i>
                </a>
                
            </span>
            
            <ul>
            
                <li class="current-item"><a href="">&#35;int0x10</a></li>
                <li><a href="">&#35;beamio</a></li>
                <li><a href="">&#35;cameronisfab</a></li>
                <li><a href="">&#35;lolbacon</a></li>
                <li><a href="">&#35;memes</a></li>
                
            </ul>
            
            <!--<a href="" class="panel-button">
                <i class="material-icons md-24">add_box</i>
                Join Channel
            </a>-->
        
        </div>

    </div>

    <!-- Main view for current channel and all chat-related functionality. -->
    <div id="main">
        
        <div id="chat">
        
            
        
        </div>
        

    </div>
    
    <!-- User-related functionality. -->
    <div class="sidebar right">

        <!-- User list. -->
        <div id="users" class="side-panel">

            <span class="panel-header">
                <i class="material-icons">people</i>
                Users
            </span>

            <ul>

                <li><a href="">
                    <span class="avatar"><img src=""/></span>
                    Augment
                </a></li>
                
                <li><a href="">
                    <span class="avatar"><img src=""/></span>
                    Aurora01
                </a></li>
                
                <li><a href="">
                    <span class="avatar"><img src=""/></span>
                    bacon
                </a></li>
                
                <li><a href="">
                    <span class="avatar"><img src=""/></span>
                    Cameron
                </a></li>
                
                <li><a href="">
                    <span class="avatar"><img src=""/></span>
                    Chronium
                </a></li>
                
                <li><a href="">
                    <span class="avatar"><img src=""/></span>
                    splitty_
                </a></li>
                
                <li><a href="">
                    <span class="avatar"><img src=""/></span>
                    Viperidae
                </a></li>

            </ul>

        </div>

    </div>
    
</div>

</body>
    
</html>