<!DOCTYPE html>
<html>
    
<head>
    <script>
        window.$ = window.jQuery = require('../js/jquery.js');
    </script>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/normalize.min.css" />
    <title>beam.io</title>
</head>
    
<body>
    
<!-- Contains all elements and fits to window vertically. -->
<div id="wrapper">
    
    <!-- For storing channel-related information and functionality. -->
    <div id="toolbar">

        <div id="channel-name" class="tool-item noselect">&#35;int0x10</div>
        
        <div id="channel-topic" class="tool-item">Feminists are to straight men what evangelical christians are to gay men&#46; Deal with it&#33;</div>
        
        <div class="clear"></div>

    </div>

    <!-- Server and channel-related functionality. -->
    <div class="sidebar left">
        
        <!-- Channel list. -->
        <div id="channels" class="side-panel">
        
            <span class="panel-header">Channels</span>
            
            <ul>
            
                <li>&#35;int0x10</li>
                <li>&#35;beamio</li>
                <li>&#35;cameronisgr8</li>
                <li>&#35;achannel</li>
                <li>&#35;test</li>
                
            </ul>
        
        </div>

    </div>

    <!-- Main view for current channel and all chat-related functionality. -->
    <div id="main">
        
        <div id="chat">
        
            
        
        </div>
        

    </div>
    
    <!-- User-related functionality. -->
    <div class="sidebar right">

        <!-- User list. -->
        <div id="users" class="side-panel">

            <span class="panel-header">Users</span>

            <ul>

                <li>Augment</li>
                <li>Aurora01</li>
                <li>bacon</li>
                <li>Cameron</li>
                <li>Chronium</li>
                <li>splitty_</li>
                <li>Viperidae</li>

            </ul>

        </div>

    </div>
    
</div>

</body>
    
</html>