<!DOCTYPE html>
<html>

<head>
  <script>
    // jQuery has to be loaded differently because it recognises that it is in
    // a CommonJS environment. We don't want it to do that, so we hack it to
    // act normally.
    window.$ = window.jQuery = require('../lib/jquery.min.js');
  </script>
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/normalize.min.css" />
  <script src="../lib/angular.min.js"></script>
  <script src="../lib/angular-sanitize.min.js"></script>
  <script src="../lib/angularMoment.min.js"></script>
  <script src="../lib/pnglib.js"></script>
  <script src="../lib/identicon.js"></script>
  <script src="../lib/scrollglue.js"></script>
  <script src="../../node_modules/ng-tags-input/build/ng-tags-input.min.js"></script>
  <link rel="stylesheet" href="../../node_modules/ng-tags-input/build/ng-tags-input.min.css" />
  <script src="../app.js"></script>
  <script src="../services/ircService.js"></script>
  <script src="../services/configService.js"></script>
  <script src="../directives/beamNetworkClient.js"></script>
  <script src="../directives/beamChannel.js"></script>
  <script src="../directives/beamMessageList.js"></script>
  <script src="../directives/beamUserList.js"></script>
  <script src="../directives/beamMessageBox.js"></script>
  <title>beam.io</title>
</head>

<body ng-app="beam">
  <beam-network-client></beam-network-client>
</body>

</html>
