<div class="ui active dimmer" ng-if="clientCtrl.channels.length === 0">
  <div class="ui text indeterminate loader">Connecting to {{::clientCtrl.settings.host}}</div>
</div>
<div class="ui grid">
  <div class="two wide column">
    <div class="ui alternating relaxed list scrollable">
      <div class="item" ng-repeat="channel in clientCtrl.channels" ng-click="clientCtrl.setActiveChannel(channel)">
        <div class="content">
          <span class="header">
            {{::channel}} <i class="minus icon" ng-click="clientCtrl.partChannel(channel)"></i>
          </span>
        </div>
      </div>
      <div class="item" ng-click="clientCtrl.showModal()">
        <div class="content">
          <span class="header">
            <i class="add square icon"></i> Join Channel
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="fourteen wide column">
    <beam-channel channel="{{channel}}" host="{{clientCtrl.host}}" ng-repeat="channel in clientCtrl.channels" ng-show="clientCtrl.currentChannel == '{{channel}}'"></beam-channel>
  </div>
</div>
<div class="ui modal">
  <div class="content">
    <span class="header">
      <form class="ui small form" ng-submit="clientCtrl.joinChannel(channel)">
        <h1>Enter Channel Name</h1>
        <div class="field">
          <div class="ui action input">
            <input ng-model="channel" type="text" placeholder="Join Channel">
          </div>
        </div>
        <button class="ui primary button" type="submit">Join</button>
      </form>
    </span>
  </div>
</div>
