<!-- Main view for current channel and all chat-related functionality. -->
<div id="main">

    <span class="panel-header noselect">
        <i class="material-icons md-24">chat</i>
        Chat
    </span>
    <beam-message-list host="{{channelCtrl.host}}" channel="{{channelCtrl.channel}}"></beam-message-list>
    <beam-message-box host="{{channelCtrl.host}}" channel="{{channelCtrl.channel}}"></beam-message-box>

</div>

<!-- User-related functionality. -->
<div class="sidebar right">

    <!-- User list. -->
    <beam-user-list host="{{channelCtrl.host}}" channel="{{channelCtrl.channel}}"></beam-user-list>

</div>
