<!-- Channel joining modal. -->
<div class="modal" ng-class="{show: clientCtrl.showChannelModal === true}" id="join-channel-modal">

    <div class="inner">

        <span class="modal-header noselect">Join a Channel</span>
        <span class="modal-description noselect">Enter the name of the channel you would like to join.</span>
        <form>
          <input type="text" class="modal-text" ng-model="channelToJoin" value="" />

          <button class="modal-button" ng-click="clientCtrl.joinChannel()">Join Channel</button>
        </form>
    </div>

</div>

<!-- Overlay to be displayed when any modal is active (use "show" class). -->
<div id="overlay" ng-class="{show: clientCtrl.showChannelModal === true}"></div>

<!-- For storing channel-related information and functionality. -->
<div id="toolbar" ng-show="clientCtrl.connected">

  <div id="channel-name" class="tool-item noselect" ng-bind="clientCtrl.currentChannel"></div>

  <div id="channel-topic" class="tool-item" ng-bind-html="clientCtrl.topics[clientCtrl.currentChannel] | linky | browserOpenLink"></div>

  <div class="clear"></div>

</div>

<!-- Contains all elements and fits to window vertically. -->
<div id="wrapper" ng-show="clientCtrl.connected">
  <!-- Server and channel-related functionality. -->
  <div class="sidebar left">
    <!-- Channel list. -->
    <div id="channels" class="side-panel" ng-class="{noclose: clientCtrl.channels.length <= 1}">
      <span class="panel-header">
        <i class="material-icons md-24">input</i> Channels
        <a href="" ng-click="clientCtrl.displayChannelModal()" class="button" title="Join Channel">
          <i class="material-icons md-24">add</i>
        </a>
      </span>

      <div class="content">

        <ul>
          <li ng-repeat="channel in clientCtrl.channels" ng-class="{current: clientCtrl.currentChannel === channel}" ng-click="clientCtrl.setActiveChannel(channel)">
            <a href="" ng-bind="channel"></a>
            <a href="" class="button" ng-click="clientCtrl.partChannel(channel)" title="Close Channel">
              <i class="material-icons md-18">close</i>
            </a>
          </li>
        </ul>

      </div>
    </div>

  </div>

  <beam-channel ng-repeat="channel in clientCtrl.channels" host="{{clientCtrl.host}}" channel="{{channel}}" ng-show="clientCtrl.currentChannel === '{{channel}}'"></beam-channel>

</div>

<div id="connect-message" ng-hide="clientCtrl.connected">
  <div ng-hide="clientCtrl.connectionClosed">
    <div class="loader"></div>
    <div class="load-message">
      Connecting to
      <span ng-bind="::clientCtrl.host"></span>...
    </div>
  </div>
  <div class="error-message" ng-show="clientCtrl.connectionClosed">
    The connection was closed by the remote server. Reason: <span ng-bind="clientCtrl.connectionError"></span>.
  </div>
</div>
