<div id="users" class="side-panel">
    <span class="panel-header">
        <i class="material-icons">people</i>
        Users [{{userListCtrl.users.length}}]
    </span>
    <ul>
        <li class="user" ng-repeat="user in userListCtrl.users | orderBy: 'name' | orderBy: userListCtrl.orderFunction"><a href="">
            <span class="avatar"><img ng-src="{{'data:image/png;base64,' + user.identicon}}"/></span>
            {{user.name}}
            <span class="role" ng-class="{op: user.mode === '@', owner: user.mode === '~', halfop: user.mode === '%', voice: user.mode === '+'}"></span>
        </a></li>
    </ul>
</div>
